body{
    background-color: grey;
    display: flex;
    justify-content: center;
}
.todo-container{
    width:300px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 20px;
   
  transform: translateY(30%);
}

  
.todo-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
    color: black;
}

.todo-button{
    width:100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
